.job-card {
  background-color: #272727;
  border-radius: 15px;
  margin: 9px;
}
@media screen and (min-width: 768px) {
  .job-card {
    width: 90%;
  }
}
.job-card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
}
.logo-title-container-card {
  display: flex;
  gap: 10px;
}
.company-logo-card {
  width: 70px;
  height: 70px;
}

.job-title-card {
  margin: 0;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.rating-container-card {
  display: flex;
  align-items: center;
  gap: 8px;
}
.star-icon-card {
  color: #fbbf24;
  width: 22px;
  height: 22px;
}
.rating-number-card {
  margin: 0;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.location-package-container-card {
  display: flex;
  width: 100%;
}
.icon-type-container-card {
  display: flex;
  align-items: center;
  gap: 5px;
}
.type-icon {
  color: #ffffff;
  width: 18px;
  height: 18px;
  margin-right: 2px;
}
.type-text {
  margin: 0;
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 300;
  font-size: 15px;
}
.package-text {
  margin: 0;
  margin-left: auto;
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 500;
  font-size: 18px;
}
.description-heading-card {
  margin: 0;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
}
.job-description-card {
  margin: 0;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
}
.separator {
  color: #ffffff;
}
.EmText,
.LocationText {
  font-size: 13px;
  margin: auto;
  padding: auto;
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 400;
}
.packagePreAnnum {
  padding-right: 0px;
  font-size: 13px;
  font-family: 'Roboto';
  color: #f8fafc;
}
@media screen and (min-width: 768px) {
  .EmText,
  .LocationText {
    font-size: 17px;
    margin: auto;
    padding: auto;
    font-family: 'Roboto';
    color: #f8fafc;
    font-weight: 400;
  }
  .packagePreAnnum {
    padding-right: 0px;
    font-size: 17px;
    font-family: 'Roboto';
    color: #f8fafc;
    text-align: end;
    margin-left: auto;
    margin-right: 9px;
  }
}
